@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.75;
  font-size: 1.25em;
}

.screenshots p {
  color: white;
}

.screenshots .slick-dots li:only-child {
  display:none
}
.screenshots .slick-dots button {
  color: #fcfcfc;
}
.screenshots .slick-dots button::before {
  font-size:12px;
  margin-top:4px;
  color:inherit
}
.screenshots .slick-dots .slick-active button::before {
  color:inherit
}

.screenshots img {
  filter: drop-shadow(0 0 9px #222);
}

.slider-pagination .blaze-prev, .slider-pagination .blaze-next {
  display: block;
}

.slider-prev button {
  font-size: 0;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
  background-color: red;
}



.slider-prev button::before {
  content: '';
}

.blaze-pagination {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
}

.blaze-pagination button {
  font-size: 0;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
}

.blaze-pagination button {
  border-radius: 100%;
  background-color: gray;
}

.blaze-pagination .active {
  background-color: white;
}

.blaze-pagination button::before {
  content: '';
}
