@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.75;
  font-size: 1.25em;
}

.screenshots p {
  color: white;
}

.screenshots .slick-dots li:only-child {
  display:none
}
.screenshots .slick-dots button {
  color: #fcfcfc;
}
.screenshots .slick-dots button::before {
  font-size:12px;
  margin-top:4px;
  color:inherit
}
.screenshots .slick-dots .slick-active button::before {
  color:inherit
}

.screenshots img {
  filter: drop-shadow(0 0 9px #222);
}
